<form [formGroup]="myForm" (ngSubmit)="add(myForm.value)">
  <p>tytul</p>
   <input type="text" [formControl]="tytul">
   <div *ngIf="tytul.hasError('required')">Pole wymagane</div>
   <br>
   <p>kategoria</p>
    <input type="text" [formControl]="kategoria">
    <div *ngIf="kategoria.hasError('required')">Pole wymagane</div>
    <br>    
    <button type="submit">OK</button>  
</form>
<app-search></app-search>
<ul>
  
  <app-gry-item 
  *ngFor="let gameTitle  of titles" [name]="gameTitle" 
  >

  </app-gry-item>

  </ul>