<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/']">Gry komputerowe</a>
    </div>
    <ul class="nav navbar-nav">
 
    </ul>
  </div>
</nav>

<ul>
  
  <app-gry-item 
  *ngFor="let gameTitle  of titles" [name]="gameTitle" 
  >

  </app-gry-item>

  </ul>
 <div class="col-xs-4">

<div class="navLinks">

    <button [routerLink]="['/dodaj']" class="btn btn-warning">Dodaj grę</button>
    <button [routerLink]="['/usun']" class="btn btn-success">Usuń grę</button>
    <button [routerLink]="['/edytuj']" class="btn btn-danger">Edytuj grę</button>
    <button [routerLink]="['/szukaj']" class="btn btn-default">Szukaj grę</button>
</div>
<router-outlet></router-outlet>

 </div>