 <div class="col-xs-6">
<form [formGroup]="myForm3" (ngSubmit)="edit(myForm3.value)">
  <h1>Edycja gry</h1>
  <p> stary tytul</p>
   <input type="text" class="form-control" [formControl]="tytul">
   <div *ngIf="tytul.hasError('required')">Pole wymagane</div>
   <br>

   <p>nowy tytul</p>
   <input type="text" class="form-control" [formControl]="ntytul">
   <div *ngIf="ntytul.hasError('required')">Pole wymagane</div>
   <br>
   <p>nowa kategoria</p>
    <input type="text" class="form-control" [formControl]="nkategoria">
    <div *ngIf="nkategoria.hasError('required')">Pole wymagane</div>
    <br>   
    <button type="submit " class="btn btn-default" [disabled]="!myForm3.valid">OK</button>  
</form>
 </div>