 <div class="col-xs-6">
<form [formGroup]="myForm2" (ngSubmit)="remove(myForm2.value)">
  <h1>Usuwanie gry</h1>
 
  <label>tytul</label>
  <br>
  
   <input type="text" class="form-control"  [formControl]="tytul">
   <div *ngIf="tytul.hasError('required')">Pole wymagane</div>
   <br>
   
    <br>    
    <button type="submit" class="btn btn-danger" [disabled]="!myForm2.valid">OK</button>  
</form>
 </div>