 <div class="col-xs-6">
<form [formGroup]="myForm" (ngSubmit)="add(myForm.value)">
  
  <h1>Dodawanie gry</h1>
  <p>tytul</p>
   <input type="text" class="form-control" [formControl]="tytul">
   <div *ngIf="tytul.hasError('required')">Pole wymagane</div>
   <br>
   <p>kategoria</p>
    <input type="text" class="form-control" [formControl]="kategoria">
    <div *ngIf="kategoria.hasError('required')">Pole wymagane</div>
    <br>    
    <button type="submit" class="btn btn-success" [disabled]="!myForm.valid">Dodaj</button>  
</form>
 </div>