
 <div class="col-xs-6">
<h1>Wyszukiwarka tytułów </h1>

<input type="search" class="form-control"  placeholder="Wpisz gatunek" [formControl]="searchControl">
<br>
<ul>
    <div *ngFor="let searchItem of searches">
        <div *ngIf="searchItem.wynik!='brak wynikow'">
        {{searchItem.wynik}}
        </div></div>
</ul>
 </div>